  .form {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    &--box {
      width: 34%;
      margin: 0 auto;
      text-align: center;
    }
    &--name {
      height: 32px;
      margin-top: 24px;
    }
    &--ability_type {
      height: 32px;
      margin-top: 72px;
    }
    &--ability_person {
      height: 32px;
      margin-top: 24px;
    }
    &--titel {
      height: 32px;
      margin-top: 24px;
    }
    &--select_icon {
      height: 32px;
      margin-top: 24px;
      // .hidden {
      //   display: none;
      // }
    }
    &--btn {
      height: 50px;
      width: 72px;
      margin-top: 72px;
    }
  }