.right_content
  .header
    .item 
      %h1.item__name ゴムゴムの実
      %p.item__type (パラミシア)
  .comments
    .title
      能力の特徴
    %ul.ability{style: "list-style: disc; padding-left: 30px;"}
      %li.ability__unique 
        身体がゴムのように伸縮する。
      %li.ability__unique 
        打撃が効かない。
    .title
      能力使用者
    %ul.consumer{style: "list-style: disc; padding-left: 30px;"}
      %li.consumer__name
        モンキー D ルフィー
    .title
      必殺技
    %ul.skill{style: "list-style: disc; padding-left: 30px;"}
      %li.skill__name
        ゴムゴムのピストル
      %li.skll__nsme
        ゴムゴムのバズーカ
    .edit
      %a.edit__btn
        Edit
