.left_content
  .image
    .image__main
      .image__select
        %label{class: "image__select--icon"}
          = icon('fas', 'image')
          %input{class: "hidden", type: "file"}
        %submit{type: "Send", class: "image__select--btn"}
          Send
    .image__array